<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dino-rush deck generator</title>
    <link rel="shortcut icon" href="/static/favicon.png">
    <link rel="stylesheet" href="[[ url_for('static', filename='bulma-dracula.css')]]">
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <i class="fas fa-download" aria-hidden="true"></i><strong>Dino-Rush</strong>
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mynavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="/gen">Generator</a>
          <a class="navbar-item" href="/list">Download list</a>
          <a class="navbar-item" href="/print">How to print</a>
          <a class="navbar-item" href="/credits">Credits</a>
          <a class="navbar-item" href="https://gitlab.com/crazyiop/dino-rush/">Source code</a>
        </div>
      </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
  {% block footer_js %}
  {% endblock %}
</html>
