{% extends 'base.html' %}

{% block content %}
<div id="app" class="section">
  <div class="container">

    <h1 class="title">Generating a new deck</h1>
    <h2 class="subtitle">
      Processing deck ID: {{deck.id}}
    </h2>
    <p>It takes aproximately 1s to generate 2 to 3 cards...</p>
    <progress class="progress" v-bind:class="{'is-success':deck.percent==100, 'is-info':deck.percent!=100}" v-bind:value="deck.percent" max="100"></progress>
    <p v-show="deck.percent==100">
    <a v-bind:href="'/dl/'.concat(deck.id).concat('.zip')"><ion-icon name="cloud-download"></ion-icon> Download here <ion-icon name="cloud-download"></ion-icon> </a>
    </p>

    <p v-show="deck.percent==100">
    The generated deck will still be available in the 'Donwload list' section for some times (The site will delete the older deck when it run out of storing space).
    </p>

  </div>
</div>
{% endblock %}


{% block footer_js %}
<script>
  new Vue({
          el: '#app',
          data () {
            return {
              deck: {
                id:'[[deck_id]]',
                step:'',
                percent:'',
              },
            }
          },
          methods: {
            gen_deck: function (event) {
              axios
                .get('/api/new_deck/'.concat(this.deck.id))
                .then(response => {
                  this.deck = response.data

                  // we need to keep context, setinterval is executed without Vue context
                  var self = this;
                  this.refresh_progress = setInterval(function(){
                    axios
                      .get('/api/status/'.concat(self.deck.id))
                      .then(response => (self.deck = response.data));
                    if (self.deck.step === 'done') {
                      clearInterval(self.refresh_progress);
                    }
                  }, 1000);
                });
            },
          },
          mounted() {
            this.gen_deck();
          },
  })
</script>
{% endblock %}
