{% extends 'base.html' %}

{% macro render_field(field, cmt) %}
  {% if field.name == 'icon' %}
  <div class="column">
  {% else %}
  <div class="column is-one-quarter">
  {% endif %}

  <dl>
    <dt>[[ field.label ]]</dt>
    <dd>
    {% if field.name == 'icon' %}
    <div class="columns">
      {% for subfield in field %}
      <div class="column">
        <label for=[[subfield.id]]>
          <figure class="image">
              <img src="../dl/[[subfield.data]].svg" style="max-width:60px"> 
          </figure>
          [[ subfield ]]
          [[ subfield.data ]]
        </label>
      </div>
      {% endfor %}
    </div>
    {% else %}
    [[ field(class_="input") ]]
    <br>
    [[cmt]]
    {% endif %}

    {% if field.errors %}
    {% for error in field.errors %}
    <p class="has-text-danger">[[ error ]]</p>
    {% endfor %}
    {% endif %}
    </dd>
    <dd>
    </dd>
  </dl>
</div>
{% endmacro %}

{% block content %}
<div class="container">
  <div class="section">
    <article class="message is-info">
      <div class="message-header">
        <p>Generate a new deck</p>
      </div>
      <div class="message-body">
        <form method="POST" action="/gen/submit_deck">
          [[ form.csrf_token ]]
          <div class="columns">
            [[ render_field(form.icon,'') ]]
          </div>
          <div class="columns is-multiline">
            [[ render_field(form.nb_move,'number of required move for hardest card of the deck') ]]
            [[ render_field(form.index_move,'index in the database for nb_move') ]]
            [[ render_field(form.n,'number of cards in the deck') ]]
            [[ render_field(form.step,'distance between two card (for spaced level deck, not available yet)') ]]
            [[ render_field(form.car_min,'minimum car on every cards') ]]
            [[ render_field(form.car_max,'maximum number of car on every cards') ]]
            [[ render_field(form.truck_min,'minimum truck on every cards') ]]
            [[ render_field(form.truck_max,'maximum truck on every cards') ]]
            [[ render_field(form.wall_min,'minimum wall on every cards (require additional diy pieces)') ]]
            [[ render_field(form.wall_max,'maximum wall on every cards') ]]
          </div>
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
        </form>
        <p>Note: A score card will be included in the deck, to keep track of your achievement, It will include at most 84 tick box for the first 84 puzzles. I thus recommend you to not go over this number for a deck...</p>

      </div>
    </article>

    <p>
    To print consecutive deck, first start at nb_move=60, index_move=1 (this is the hardest problem in the database) if you want the hardest deck, then use x, y+1 where x,y are the number of the easiest card (last one) of the previous deck you generated.
    </p>

  </div>
</div>
{% endblock %}
