{% extends 'base.html' %}

{% block content %}
<div class="section" id="app">
  <div class="container">

    <table class="table">
      <thead>
        <tr>
          <td>Deck icon</td>
          <td>Deck size</td>
          <td>Starting nb move</td>
          <td>Index Number of first puzzle</td>
          <td>Step</td>
          <td>Number of cars</td>
          <td>Number of trucks</td>
          <td>Number of walls</td>
          <td>Download link</td>
        </tr>
      </thead>

      <tbody>
        <tr v-for="item in items">
          <td>{{item.icon}}</td>
          <td>{{item.n}}</td>
          <td>{{item.nb_move}}</td>
          <td>{{item.index_move}}</td>
          <td>{{item.step}}</td>
          <td>{{item.cars}}</td>
          <td>{{item.trucks}}</td>
          <td>{{item.walls}}</td>
          <td>
            <a v-bind:href="'/dl/'.concat(item.url)">
              <button class="button is-link">Download</button>
            </a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}


{% block footer_js %}
<script>
  new Vue({
          el: '#app',
          data () {
            return {
              fields: [
                { 
                  key: 'icon',
                  label: 'Deck icon',
                  sortable: true
                },
                { 
                  key: 'nb_move',
                  label: 'Starting nb move',
                  sortable: true
                },
                { 
                  key: 'index_move',
                  label: 'Index',
                  sortable: true
                },
                { 
                  key: 'n',
                  label: 'Number of puzzle',
                  sortable: true
                },
                { 
                  key: 'step',
                  label: 'Step',
                  sortable: true
                },
                { 
                  key: 'cars',
                  label: 'Number of cars',
                  sortable: true
                },
                { 
                  key: 'trucks',
                  label: 'Number of trucks',
                  sortable: true
                },
                { 
                  key: 'walls',
                  label: 'Number of walls',
                  sortable: true
                },
                { 
                  key: 'url',
                  label: 'Download link',
                }
              ],
              items: [],
            }
          },
          mounted: function () {
            axios
              .get('/api/list')
              .then(response => {
                this.items = response.data
              });
          }
  })
</script>
{% endblock %}
