{% extends 'base.html' %}

{% block content %}

<div class="section" id="app">
  <div class="container">
    <p class="has-text-success">Total download : {{total}} </p>
    <table class="table">
      <thead>
        <tr>
          <td>Deck id</td>
          <td>nb</td>
        </tr>
      </thead>

      <tbody>
        <tr v-for="item in items">
          <td>{{item.id}}</td>
          <td>{{item.nb}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}


{% block footer_js %}
<script>
  new Vue({
          el: '#app',
          data () {
            return {
              fields: [
                { 
                  key: 'id',
                  label: 'Filename',
                  sortable: true
                },
                { 
                  key: 'nb',
                  label: 'Number of download',
                  sortable: true
                },
              ],
              items: [],
              total: 0,
            }
          },
          mounted: function () {
            axios
              .get('/api/stats')
              .then(response => {
                this.items = response.data.list;
                this.total = response.data.total;
              });
          }
  })
</script>
{% endblock %}
