{% extends 'base.html' %}

{% block content %}
<div>
  <b-card header-tag="header" border-variant="primary" header-bg-variant="primary" header-text-variant="white">
    <h6 slot="header" class="mb-0">Generate a new deck</h6>
    <form method="POST" action="/gen/submit_deck">
      [[ form.csrf_token ]]
      [[ form.icon.label ]] [[ form.icon(size=20) ]]
      [[ form.nb_move.label ]] [[ form.nb_move ]]
      [[ form.index_move.label ]] [[ form.index_move ]]
      [[ form.n.label ]] [[ form.n ]]
      [[ form.step.label ]] [[ form.step ]]
      [[ form.car_min.label ]] [[ form.car_min ]]
      [[ form.car_max.label ]] [[ form.car_max ]]
      [[ form.truck_min.label ]] [[ form.truck_min ]]
      [[ form.truck_max.label ]] [[ form.truck_max ]]
      [[ form.wall_min.label ]] [[ form.wall_min ]]
      [[ form.wall_max.label ]] [[ form.wall_max ]]
      <input type="submit" value="Go">
    </form>
  </b-card>
</div>


{% endblock %}


{% block footer_js %}
<script>
  new Vue({
          el: '#app',
  })
</script>
{% endblock %}
