{% extends 'base.html' %}

{% block content %}
<b-table
      show-empty
      stacked="md"
      :items="items"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      >

  <template slot="icon" slot-scope="row">
    {{row.value}}
  </template>

  <template slot="url" slot-scope="row">
    <a v-bind:href="'/gen/dl/'.concat(row.value)">
      <b-button size="sm">
        Download
      </b-button>
    </a>
  </template>
</b-table>
{% endblock %}

        "icon": icon,
        "nb_move": nb_move,
        "index_move": index_move,
        "n": n,
        "step": step,
        "url": filename,

{% block footer_js %}
<script>
  new Vue({
          el: '#app',
          data () {
            return {
              fields: [
                { 
                  key: 'icon',
                  label: 'Deck icon',
                  sortable: true
                },
                { 
                  key: 'nb_move',
                  label: 'Starting nb move',
                  sortable: true
                },
                { 
                  key: 'index_move',
                  label: 'Index',
                  sortable: true
                },
                { 
                  key: 'n',
                  label: 'Number of puzzle',
                  sortable: true
                },
                { 
                  key: 'step',
                  label: 'Step',
                  sortable: true
                },
                { 
                  key: 'url',
                  label: 'Download link',
                }
              ],
              items: [],
              sortBy: null,
              sortDesc: false,
              sortDirection: 'asc',
            }
          },
          mounted: function () {
            axios
              .get('/gen/api/list')
              .then(response => {
                this.items = response.data
              });
          }
  })
</script>
{% endblock %}
