{% extends 'base.html' %}

{% block content %}
<b-alert variant="success" show>Total download : {{total}} </b-alert>

<b-table
      show-empty
      stacked="md"
      :items="items"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      >

</b-table>
{% endblock %}

{% block footer_js %}
<script>
  new Vue({
          el: '#app',
          data () {
            return {
              fields: [
                { 
                  key: 'id',
                  label: 'Filename',
                  sortable: true
                },
                { 
                  key: 'nb',
                  label: 'Number of download',
                  sortable: true
                },
              ],
              items: [],
              total: 0,
              sortBy: null,
              sortDesc: false,
              sortDirection: 'asc',
            }
          },
          mounted: function () {
            axios
              .get('/api/stats')
              .then(response => {
                this.items = response.data.list;
                this.total = response.data.total;
              });
          }
  })
</script>
{% endblock %}
